<!DOCTYPE html>
<html>
<head >
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" rel="stylesheet"></script>
</head>
<body>
    <div class="container" style="padding-top: 30px;">
        <fieldset>
            <legend><h2>{{.title}}</h2></legend>
            {{.content}}
        </fieldset>
    </div>
</body>
</html>